#MIP Analysis

This script analyses the data generated by the merger of the ownership data and the company panel information

In [29]:
import pandas as pd
import numpy as np

Load the datasets

In [30]:
df_merged_companies = pd.read_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_companies_reganalysis.csv")
df_merged_owners = pd.read_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_owners_reganalysis.csv")

C:\Users\lucas\AppData\Local\Temp\ipykernel_21992\1487236527.py:1: DtypeWarning: Columns (20,30,49,50,51,52,53,54,56,64,75,76,77,78,79,80,81,82,85,86,89,90,94,99,102,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,135,136,137,138,143,144,145,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,200,201,207,209,210,211,212,214,218,219,220,221,232,236,237,238,239,240,241,248,249,252,253,255,256,257,258,259,261,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,311,313,315,317,319,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,387,401,405,409,410,411,412,413,414,428,430,436,439,440,441,442,443,444,445,446,447,448,449,450,451,465,468,470,473,475,478,480,483,485,488,490,493,495,498,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,541,542,543,550,551,552,554,555,556,557,558,559,560,561,563,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,596,599,606,609,613,614,615,618,621,622,623,625,626,627,628,629,630,638,639,640,645,646,647,648,649,650,652,657,658,659,660,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,726,727,728,729,730,731,732,734,736,738,739,742,744,757,758,759,760,761,762,763,767,770,773,775,779,780,781,782,783,784,785,787,788,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,843,846,848,852,856,859,862,863,864,865,866,870,871,872,873,874,876,878,881,885,888,891,894,897,900,903,908,914,919,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,953,955,957,961,963,964,966,968,969,970,971,979,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1030,1033,1035,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1094,1096,1098,1100,1102,1106,1107,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1161,1163,1164,1165,1166,1172,1182,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1213,1214,1215,1216,1217,1218,1219,1225,1227,1229,1231,1233,1247,1265,1285,1295,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1317,1319,1320,1322,1324,1326,1327,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1408,1409,1410,1411,1412,1413,1414,1415,1417,1421,1422,1423,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1475,1476,1477,1478,1479,1486,1488,1490,1492,1500,1502,1503,1504,1505,1506,1508,1513,1523,1534,1535,1536,1537,1538,1542,1545,1546,1548,1549,1552,1553,1555,1556,1557,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1583,1585,1587,1589,1591,1593,1599,1618,1619,1620,1621,1622,1623,1624,1625,1628,1629) have mixed types. Specify dtype option on import or set low_memory=False.
  df_merged_companies = pd.read_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_companies_reganalysis.csv")
C:\Users\lucas\AppData\Local\Temp\ipykernel_21992\1487236527.py:2: DtypeWarning: Columns (9,93,94,159,160,161,162,163,164,165,166,167,168,169,170,171,172,178,179,180,181,182,183,184,185,186,187,190,199,200,201,209,225,226,227,228,229,230,255,257,263,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,489,540,556,557,558,559,603,617,618,628,629,646,647,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,746,747,748,749,750,751,752,764,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,851,852,908,910,914,915,916,955,971,973,974,975,976,977,978,979,980,981,982,984,985,986,987,988,989,990,991,992,994,995,996,997,998,999,1000,1001,1002,1003,1005,1006,1007,1024,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1091,1095,1096,1152,1154,1155,1161,1171,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1188,1189,1190,1191,1192,1193,1194,1195,1203,1204,1205,1206,1207,1208,1214,1216,1218,1220,1222,1236,1254,1274,1284,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1306,1315,1318,1319,1321,1322,1324,1325,1327,1328,1330,1331,1333,1334,1336,1337,1338,1339,1340,1341,1343,1344,1345,1346,1347,1348,1349,1351,1352,1353,1354,1355,1356,1357,1358,1360,1361,1363,1364,1366,1367,1369,1370,1372,1373,1375,1376,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1397,1398,1399,1400,1401,1402,1404,1411,1412,1427,1430,1431,1432,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1464,1465,1466,1467,1468,1481,1491,1492,1493,1494,1495,1497,1512,1523,1531,1534,1537,1541,1542,1550,1552,1580,1582,1622,1623,1624) have mixed types. Specify dtype option on import or set low_memory=False.
  df_merged_owners = pd.read_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_owners_reganalysis.csv")

In [31]:
df_merged_companies["period"] = np.where(df_merged_companies["jahr"] <= 2008, "2006-2008", np.where((df_merged_companies["jahr"] >= 2009) & (df_merged_companies["jahr"] <= 2011), "2009-2011", np.where((df_merged_companies["jahr"] >= 2012) & (df_merged_companies["jahr"] <= 2014), "2012-2014", np.where((df_merged_companies["jahr"] >= 2015) & (df_merged_companies["jahr"] <= 2017), "2015-2017", np.where((df_merged_companies["jahr"] >= 2018) & (df_merged_companies["jahr"] <= 2020), "2018-2020", "NA")))))
df_merged_owners["period"] = np.where(df_merged_owners["jahr"] <= 2008, "2006-2008", np.where((df_merged_owners["jahr"] >= 2009) & (df_merged_owners["jahr"] <= 2011), "2009-2011", np.where((df_merged_owners["jahr"] >= 2012) & (df_merged_owners["jahr"] <= 2014), "2012-2014", np.where((df_merged_owners["jahr"] >= 2015) & (df_merged_owners["jahr"] <= 2017), "2015-2017", np.where((df_merged_owners["jahr"] >= 2018) & (df_merged_owners["jahr"] <= 2020), "2018-2020", "NA")))))

Note: since periods are grouped by `jahr`, which is the year variable provided by the MIP dataset, instead of `panel_year`, which is constructed for the change of ownership logic, there will be a lot of NA, which are simply entries where there is no panel data.

Description of ownership changes in `df_merged_companies` and `df_merged_owners`

In [32]:
#b_crefo
print("Companies that changed ownership according to b_crefo between 2009-2011 (is_owner_change_2009) by Period\n")
display(pd.crosstab(df_merged_companies["period"], df_merged_companies["is_owner_change_2009"], margins=False))
print("\n\n")
print("Companies that changed ownership according to b_crefo between 2015-2017 (is_owner_change_2015) by Period\n")
display(pd.crosstab(df_merged_companies["period"], df_merged_companies["is_owner_change_2015"], margins=False))
print("\n\n")
print("Companies that changed ownership according to b_crefo between 2009-2017 (is_owner_change_2009_2017) by Period\n")
display(pd.crosstab(df_merged_companies["period"], df_merged_companies["is_owner_change_2009_2017"], margins=False))
print("\n\n")
#ownerid
print("Companies that changed ownership according to ownerid between 2009-2011 (is_ownerid_change_2009) by Period\n")
display(pd.crosstab(df_merged_owners["period"], df_merged_owners["is_ownerid_change_2009"], margins=False))
print("\n\n")
print("Companies that changed ownership according to ownerid between 2015-2017 (is_ownerid_change_2015) by Period\n")
display(pd.crosstab(df_merged_owners["period"], df_merged_owners["is_ownerid_change_2015"], margins=False))
print("\n\n")
print("Companies that changed ownership according to ownerid between 2009-2017 (is_ownerid_change_2009_2017) by Period\n")
display(pd.crosstab(df_merged_owners["period"], df_merged_owners["is_ownerid_change_2009_2017"], margins=False))

Companies that changed ownership according to b_crefo between 2009-2011 (is_owner_change_2009) by Period

is_owner_change_2009   False  True
period
2006-2008              12020   1219
2009-2011              13563   1352
2012-2014              13352   1318
2015-2017              12070   1100
2018-2020              13014   1133
NA                    232884  24012

Companies that changed ownership according to b_crefo between 2015-2017 (is_owner_change_2015) by Period

is_owner_change_2015   False  True
period
2006-2008              12133   1106
2009-2011              13503   1412
2012-2014              13241   1429
2015-2017              11845   1325
2018-2020              12875   1272
NA                    232151  24745

Companies that changed ownership according to b_crefo between 2009-2017 (is_owner_change_2009_2017) by Period

is_owner_change_2009_2017   False  True
period
2006-2008                   10125   3114
2009-2011                   11254   3661
2012-2014                   11074   3596
2015-2017                    9987   3183
2018-2020                   10906   3241
NA                         192002  64894

Companies that changed ownership according to ownerid between 2009-2011 (is_ownerid_change_2009) by Period

is_ownerid_change_2009  False  True
period
2006-2008                 925      6
2009-2011                 955     88
2012-2014                 855    114
2015-2017                 752     89
2018-2020                 886     78
NA                      14327   1281

Companies that changed ownership according to ownerid between 2015-2017 (is_ownerid_change_2015) by Period

is_ownerid_change_2015  False  True
period
2006-2008                 921     10
2009-2011                1032     11
2012-2014                 961      8
2015-2017                 791     50
2018-2020                 885     79
NA                      14736    872

Companies that changed ownership according to ownerid between 2009-2017 (is_ownerid_change_2009_2017) by Period

is_ownerid_change_2009_2017  False  True
period
2006-2008                      900     31
2009-2011                      925    118
2012-2014                      780    189
2015-2017                      614    227
2018-2020                      727    237
NA                           12423   3185

Dependent variables descriptive statistics

In [33]:
dependent_variables = ["oekpz_avg", "oekpd_avg", "energy_consumption", "material_use", "emissions_CO2", "emissions_other", "hazardous_material", "recycling"]
for y in dependent_variables:
    print("Descriptive statistics for " + y + " variable in df_merged_companies for each 'period':")
    display(df_merged_companies.groupby(['period', 'is_owner_change_2009_2017'])[y].describe())
    print("Descriptive statistics for " + y + " variable in df_merged_owners for each 'period':")
    display(df_merged_owners.groupby(['period', 'is_ownerid_change_2009_2017'])[y].describe())

Descriptive statistics for oekpz_avg variable in df_merged_companies for each 'period':

                                      count      mean       std  min  25%  \
period    is_owner_change_2009_2017
2006-2008 False                      3595.0  0.455822  0.590172  0.0  0.0
          True                       1126.0  0.457526  0.570524  0.0  0.0
2009-2011 False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN
2012-2014 False                      3196.0  0.322802  0.462108  0.0  0.0
          True                       1021.0  0.338131  0.452054  0.0  0.0
2015-2017 False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN
2018-2020 False                      3063.0  0.340789  0.454367  0.0  0.0
          True                        933.0  0.368786  0.422663  0.0  0.0
NA        False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN

                                          50%       75%  max
period    is_owner_change_2009_2017
2006-2008 False                      0.222222  0.777778  2.0
          True                       0.222222  0.777778  2.0
2009-2011 False                           NaN       NaN  NaN
          True                            NaN       NaN  NaN
2012-2014 False                      0.111111  0.444444  2.0
          True                       0.111111  0.555556  2.0
2015-2017 False                           NaN       NaN  NaN
          True                            NaN       NaN  NaN
2018-2020 False                      0.111111  0.555556  2.0
          True                       0.222222  0.666667  2.0
NA        False                           NaN       NaN  NaN
          True                            NaN       NaN  NaN

Descriptive statistics for oekpz_avg variable in df_merged_owners for each 'period':

                                       count      mean       std  min  \
period    is_ownerid_change_2009_2017
2006-2008 False                        313.0  0.718210  0.707143  0.0
          True                          13.0  0.957265  0.852904  0.0
2009-2011 False                          0.0       NaN       NaN  NaN
          True                           0.0       NaN       NaN  NaN
2012-2014 False                        209.0  0.549132  0.616731  0.0
          True                          70.0  0.499246  0.530597  0.0
2015-2017 False                          0.0       NaN       NaN  NaN
          True                           0.0       NaN       NaN  NaN
2018-2020 False                        195.0  0.511966  0.575201  0.0
          True                          59.0  0.508239  0.528861  0.0
NA        False                          0.0       NaN       NaN  NaN
          True                           0.0       NaN       NaN  NaN

                                            25%       50%       75%  max
period    is_ownerid_change_2009_2017
2006-2008 False                        0.000000  0.555556  1.333333  2.0
          True                         0.222222  0.555556  2.000000  2.0
2009-2011 False                             NaN       NaN       NaN  NaN
          True                              NaN       NaN       NaN  NaN
2012-2014 False                        0.000000  0.333333  1.000000  2.0
          True                         0.111111  0.333333  0.777778  2.0
2015-2017 False                             NaN       NaN       NaN  NaN
          True                              NaN       NaN       NaN  NaN
2018-2020 False                        0.000000  0.333333  0.777778  2.0
          True                         0.000000  0.444444  0.777778  2.0
NA        False                             NaN       NaN       NaN  NaN
          True                              NaN       NaN       NaN  NaN

Descriptive statistics for oekpd_avg variable in df_merged_companies for each 'period':

                                      count      mean       std  min  25%  \
period    is_owner_change_2009_2017
2006-2008 False                      3566.0  0.453449  0.661527  0.0  0.0
          True                       1113.0  0.454178  0.662907  0.0  0.0
2009-2011 False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN
2012-2014 False                      3138.0  0.281150  0.475897  0.0  0.0
          True                        996.0  0.279033  0.474519  0.0  0.0
2015-2017 False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN
2018-2020 False                      3015.0  0.380680  0.530349  0.0  0.0
          True                        922.0  0.427422  0.516816  0.0  0.0
NA        False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN

                                      50%       75%  max
period    is_owner_change_2009_2017
2006-2008 False                      0.00  0.666667  2.0
          True                       0.00  0.666667  2.0
2009-2011 False                       NaN       NaN  NaN
          True                        NaN       NaN  NaN
2012-2014 False                      0.00  0.500000  2.0
          True                       0.00  0.500000  2.0
2015-2017 False                       NaN       NaN  NaN
          True                        NaN       NaN  NaN
2018-2020 False                      0.00  0.750000  2.0
          True                       0.25  0.750000  2.0
NA        False                       NaN       NaN  NaN
          True                        NaN       NaN  NaN

Descriptive statistics for oekpd_avg variable in df_merged_owners for each 'period':

                                       count      mean       std  min  25%  \
period    is_ownerid_change_2009_2017
2006-2008 False                        300.0  0.772778  0.794081  0.0  0.0
          True                          13.0  1.025641  0.854850  0.0  0.0
2009-2011 False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN
2012-2014 False                        206.0  0.540049  0.684453  0.0  0.0
          True                          66.0  0.425505  0.580511  0.0  0.0
2015-2017 False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN
2018-2020 False                        192.0  0.559028  0.607415  0.0  0.0
          True                          59.0  0.529661  0.578130  0.0  0.0
NA        False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN

                                            50%       75%  max
period    is_ownerid_change_2009_2017
2006-2008 False                        0.666667  1.333333  2.0
          True                         1.000000  2.000000  2.0
2009-2011 False                             NaN       NaN  NaN
          True                              NaN       NaN  NaN
2012-2014 False                        0.250000  1.000000  2.0
          True                         0.000000  0.750000  2.0
2015-2017 False                             NaN       NaN  NaN
          True                              NaN       NaN  NaN
2018-2020 False                        0.500000  1.000000  2.0
          True                         0.500000  1.000000  2.0
NA        False                             NaN       NaN  NaN
          True                              NaN       NaN  NaN

Descriptive statistics for energy_consumption variable in df_merged_companies for each 'period':

                                      count      mean       std  min  25%  \
period    is_owner_change_2009_2017
2006-2008 False                      3544.0  0.610609  0.811406  0.0  0.0
          True                       1110.0  0.639640  0.818990  0.0  0.0
2009-2011 False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN
2012-2014 False                      3148.0  0.553050  0.722365  0.0  0.0
          True                       1011.0  0.596439  0.732112  0.0  0.0
2015-2017 False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN
2018-2020 False                      3035.0  0.517957  0.692690  0.0  0.0
          True                        927.0  0.572816  0.685262  0.0  0.0
NA        False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN

                                     50%  75%  max
period    is_owner_change_2009_2017
2006-2008 False                      0.0  1.0  2.0
          True                       0.0  1.0  2.0
2009-2011 False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN
2012-2014 False                      0.0  1.0  2.0
          True                       0.0  1.0  2.0
2015-2017 False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN
2018-2020 False                      0.0  1.0  2.0
          True                       0.0  1.0  2.0
NA        False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN

Descriptive statistics for energy_consumption variable in df_merged_owners for each 'period':

                                       count      mean       std  min  25%  \
period    is_ownerid_change_2009_2017
2006-2008 False                        306.0  0.915033  0.894044  0.0  0.0
          True                          13.0  1.076923  0.954074  0.0  0.0
2009-2011 False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN
2012-2014 False                        206.0  0.713592  0.802745  0.0  0.0
          True                          69.0  0.724638  0.745261  0.0  0.0
2015-2017 False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN
2018-2020 False                        193.0  0.735751  0.734291  0.0  0.0
          True                          59.0  0.813559  0.798157  0.0  0.0
NA        False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN

                                       50%  75%  max
period    is_ownerid_change_2009_2017
2006-2008 False                        1.0  2.0  2.0
          True                         1.0  2.0  2.0
2009-2011 False                        NaN  NaN  NaN
          True                         NaN  NaN  NaN
2012-2014 False                        0.0  1.0  2.0
          True                         1.0  1.0  2.0
2015-2017 False                        NaN  NaN  NaN
          True                         NaN  NaN  NaN
2018-2020 False                        1.0  1.0  2.0
          True                         1.0  1.0  2.0
NA        False                        NaN  NaN  NaN
          True                         NaN  NaN  NaN

Descriptive statistics for material_use variable in df_merged_companies for each 'period':

                                      count      mean       std  min  25%  \
period    is_owner_change_2009_2017
2006-2008 False                      3540.0  0.541243  0.794332  0.0  0.0
          True                       1103.0  0.568450  0.800738  0.0  0.0
2009-2011 False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN
2012-2014 False                      3107.0  0.348246  0.605086  0.0  0.0
          True                       1002.0  0.391218  0.637367  0.0  0.0
2015-2017 False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN
2018-2020 False                      3007.0  0.352843  0.591758  0.0  0.0
          True                        922.0  0.396963  0.604643  0.0  0.0
NA        False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN

                                     50%  75%  max
period    is_owner_change_2009_2017
2006-2008 False                      0.0  1.0  2.0
          True                       0.0  1.0  2.0
2009-2011 False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN
2012-2014 False                      0.0  1.0  2.0
          True                       0.0  1.0  2.0
2015-2017 False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN
2018-2020 False                      0.0  1.0  2.0
          True                       0.0  1.0  2.0
NA        False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN

Descriptive statistics for material_use variable in df_merged_owners for each 'period':

                                       count      mean       std  min  25%  \
period    is_ownerid_change_2009_2017
2006-2008 False                        304.0  0.740132  0.864539  0.0  0.0
          True                          12.0  1.000000  0.953463  0.0  0.0
2009-2011 False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN
2012-2014 False                        203.0  0.517241  0.712997  0.0  0.0
          True                          69.0  0.492754  0.719951  0.0  0.0
2015-2017 False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN
2018-2020 False                        191.0  0.534031  0.694068  0.0  0.0
          True                          59.0  0.491525  0.728079  0.0  0.0
NA        False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN

                                       50%  75%  max
period    is_ownerid_change_2009_2017
2006-2008 False                        0.0  2.0  2.0
          True                         1.0  2.0  2.0
2009-2011 False                        NaN  NaN  NaN
          True                         NaN  NaN  NaN
2012-2014 False                        0.0  1.0  2.0
          True                         0.0  1.0  2.0
2015-2017 False                        NaN  NaN  NaN
          True                         NaN  NaN  NaN
2018-2020 False                        0.0  1.0  2.0
          True                         0.0  1.0  2.0
NA        False                        NaN  NaN  NaN
          True                         NaN  NaN  NaN

Descriptive statistics for emissions_CO2 variable in df_merged_companies for each 'period':

                                      count      mean       std  min  25%  \
period    is_owner_change_2009_2017
2006-2008 False                      3516.0  0.503697  0.784442  0.0  0.0
          True                       1111.0  0.512151  0.783608  0.0  0.0
2009-2011 False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN
2012-2014 False                      3088.0  0.328692  0.624875  0.0  0.0
          True                        986.0  0.346856  0.618969  0.0  0.0
2015-2017 False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN
2018-2020 False                      3011.0  0.407174  0.645661  0.0  0.0
          True                        920.0  0.502174  0.661383  0.0  0.0
NA        False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN

                                     50%  75%  max
period    is_owner_change_2009_2017
2006-2008 False                      0.0  1.0  2.0
          True                       0.0  1.0  2.0
2009-2011 False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN
2012-2014 False                      0.0  0.0  2.0
          True                       0.0  1.0  2.0
2015-2017 False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN
2018-2020 False                      0.0  1.0  2.0
          True                       0.0  1.0  2.0
NA        False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN

Descriptive statistics for emissions_CO2 variable in df_merged_owners for each 'period':

                                       count      mean       std  min  25%  \
period    is_ownerid_change_2009_2017
2006-2008 False                        304.0  0.881579  0.904220  0.0  0.0
          True                          13.0  1.076923  0.954074  0.0  0.0
2009-2011 False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN
2012-2014 False                        198.0  0.702020  0.847269  0.0  0.0
          True                          68.0  0.544118  0.700401  0.0  0.0
2015-2017 False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN
2018-2020 False                        192.0  0.703125  0.752233  0.0  0.0
          True                          59.0  0.661017  0.779261  0.0  0.0
NA        False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN

                                       50%   75%  max
period    is_ownerid_change_2009_2017
2006-2008 False                        1.0  2.00  2.0
          True                         1.0  2.00  2.0
2009-2011 False                        NaN   NaN  NaN
          True                         NaN   NaN  NaN
2012-2014 False                        0.0  1.75  2.0
          True                         0.0  1.00  2.0
2015-2017 False                        NaN   NaN  NaN
          True                         NaN   NaN  NaN
2018-2020 False                        1.0  1.00  2.0
          True                         0.0  1.00  2.0
NA        False                        NaN   NaN  NaN
          True                         NaN   NaN  NaN

Descriptive statistics for emissions_other variable in df_merged_companies for each 'period':

                                      count      mean       std  min  25%  \
period    is_owner_change_2009_2017
2006-2008 False                      3495.0  0.364807  0.698324  0.0  0.0
          True                       1102.0  0.369328  0.703361  0.0  0.0
2009-2011 False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN
2012-2014 False                      3064.0  0.208225  0.511428  0.0  0.0
          True                        978.0  0.223926  0.525657  0.0  0.0
2015-2017 False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN
2018-2020 False                      2993.0  0.246575  0.531755  0.0  0.0
          True                        914.0  0.318381  0.567803  0.0  0.0
NA        False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN

                                     50%  75%  max
period    is_owner_change_2009_2017
2006-2008 False                      0.0  0.0  2.0
          True                       0.0  0.0  2.0
2009-2011 False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN
2012-2014 False                      0.0  0.0  2.0
          True                       0.0  0.0  2.0
2015-2017 False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN
2018-2020 False                      0.0  0.0  2.0
          True                       0.0  1.0  2.0
NA        False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN

Descriptive statistics for emissions_other variable in df_merged_owners for each 'period':

                                       count      mean       std  min  25%  \
period    is_ownerid_change_2009_2017
2006-2008 False                        304.0  0.746711  0.903781  0.0  0.0
          True                          13.0  0.923077  1.037749  0.0  0.0
2009-2011 False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN
2012-2014 False                        199.0  0.517588  0.770964  0.0  0.0
          True                          67.0  0.522388  0.765906  0.0  0.0
2015-2017 False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN
2018-2020 False                        189.0  0.412698  0.643335  0.0  0.0
          True                          58.0  0.482759  0.655379  0.0  0.0
NA        False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN

                                       50%  75%  max
period    is_ownerid_change_2009_2017
2006-2008 False                        0.0  2.0  2.0
          True                         0.0  2.0  2.0
2009-2011 False                        NaN  NaN  NaN
          True                         NaN  NaN  NaN
2012-2014 False                        0.0  1.0  2.0
          True                         0.0  1.0  2.0
2015-2017 False                        NaN  NaN  NaN
          True                         NaN  NaN  NaN
2018-2020 False                        0.0  1.0  2.0
          True                         0.0  1.0  2.0
NA        False                        NaN  NaN  NaN
          True                         NaN  NaN  NaN

Descriptive statistics for hazardous_material variable in df_merged_companies for each 'period':

                                      count      mean       std  min  25%  \
period    is_owner_change_2009_2017
2006-2008 False                      3489.0  0.360275  0.693626  0.0  0.0
          True                       1093.0  0.358646  0.687014  0.0  0.0
2009-2011 False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN
2012-2014 False                      3055.0  0.210802  0.505453  0.0  0.0
          True                        987.0  0.232016  0.525099  0.0  0.0
2015-2017 False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN
2018-2020 False                      2965.0  0.233052  0.520161  0.0  0.0
          True                        912.0  0.230263  0.493253  0.0  0.0
NA        False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN

                                     50%  75%  max
period    is_owner_change_2009_2017
2006-2008 False                      0.0  0.0  2.0
          True                       0.0  0.0  2.0
2009-2011 False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN
2012-2014 False                      0.0  0.0  2.0
          True                       0.0  0.0  2.0
2015-2017 False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN
2018-2020 False                      0.0  0.0  2.0
          True                       0.0  0.0  2.0
NA        False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN

Descriptive statistics for hazardous_material variable in df_merged_owners for each 'period':

                                       count      mean       std  min  25%  \
period    is_ownerid_change_2009_2017
2006-2008 False                        297.0  0.575758  0.835337  0.0  0.0
          True                          12.0  0.666667  0.984732  0.0  0.0
2009-2011 False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN
2012-2014 False                        190.0  0.410526  0.689985  0.0  0.0
          True                          65.0  0.307692  0.610407  0.0  0.0
2015-2017 False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN
2018-2020 False                        186.0  0.311828  0.605890  0.0  0.0
          True                          58.0  0.327586  0.603729  0.0  0.0
NA        False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN

                                       50%   75%  max
period    is_ownerid_change_2009_2017
2006-2008 False                        0.0  1.00  2.0
          True                         0.0  2.00  2.0
2009-2011 False                        NaN   NaN  NaN
          True                         NaN   NaN  NaN
2012-2014 False                        0.0  1.00  2.0
          True                         0.0  0.00  2.0
2015-2017 False                        NaN   NaN  NaN
          True                         NaN   NaN  NaN
2018-2020 False                        0.0  0.00  2.0
          True                         0.0  0.75  2.0
NA        False                        NaN   NaN  NaN
          True                         NaN   NaN  NaN

Descriptive statistics for recycling variable in df_merged_companies for each 'period':

                                      count      mean       std  min  25%  \
period    is_owner_change_2009_2017
2006-2008 False                      3524.0  0.561578  0.805114  0.0  0.0
          True                       1102.0  0.539020  0.777652  0.0  0.0
2009-2011 False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN
2012-2014 False                      3086.0  0.339274  0.630346  0.0  0.0
          True                        986.0  0.359026  0.634783  0.0  0.0
2015-2017 False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN
2018-2020 False                      2961.0  0.389058  0.646144  0.0  0.0
          True                        906.0  0.406181  0.627655  0.0  0.0
NA        False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN

                                     50%  75%  max
period    is_owner_change_2009_2017
2006-2008 False                      0.0  1.0  2.0
          True                       0.0  1.0  2.0
2009-2011 False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN
2012-2014 False                      0.0  1.0  2.0
          True                       0.0  1.0  2.0
2015-2017 False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN
2018-2020 False                      0.0  1.0  2.0
          True                       0.0  1.0  2.0
NA        False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN

Descriptive statistics for recycling variable in df_merged_owners for each 'period':

                                       count      mean       std  min  25%  \
period    is_ownerid_change_2009_2017
2006-2008 False                        301.0  0.734219  0.888327  0.0  0.0
          True                          12.0  1.000000  0.852803  0.0  0.0
2009-2011 False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN
2012-2014 False                        197.0  0.456853  0.618108  0.0  0.0
          True                          67.0  0.492537  0.659962  0.0  0.0
2015-2017 False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN
2018-2020 False                        189.0  0.529101  0.761752  0.0  0.0
          True                          56.0  0.482143  0.687316  0.0  0.0
NA        False                          0.0       NaN       NaN  NaN  NaN
          True                           0.0       NaN       NaN  NaN  NaN

                                       50%  75%  max
period    is_ownerid_change_2009_2017
2006-2008 False                        0.0  2.0  2.0
          True                         1.0  2.0  2.0
2009-2011 False                        NaN  NaN  NaN
          True                         NaN  NaN  NaN
2012-2014 False                        0.0  1.0  2.0
          True                         0.0  1.0  2.0
2015-2017 False                        NaN  NaN  NaN
          True                         NaN  NaN  NaN
2018-2020 False                        0.0  1.0  2.0
          True                         0.0  1.0  2.0
NA        False                        NaN  NaN  NaN
          True                         NaN  NaN  NaN

Controls descriptive statistics

In [34]:
print("Descriptive statistics for 'bges' variable in df_merged_companies for each 'period':")
display(df_merged_companies.groupby(['period', 'is_owner_change_2009_2017'])['bges'].describe())
print("Same statistics but in aggregate:")
display(df_merged_companies.groupby(['is_owner_change_2009_2017'])['bges'].describe())
print("Descriptive statistics for 'bges' variable in df_merged_owners for each 'period':")
display(df_merged_owners.groupby(['period', 'is_ownerid_change_2009_2017'])['bges'].describe())
print("Same statistics but in aggregate:")
display(df_merged_owners.groupby(['is_ownerid_change_2009_2017'])['bges'].describe())
print("Descriptive statistics for 'branche' variable in df_merged_companies for each 'period':")
display(df_merged_companies.groupby(['period', 'is_owner_change_2009_2017'])['branche'].describe())
print("Descriptive statistics for 'branche' variable in df_merged_owners for each 'period':")
display(df_merged_owners.groupby('period')['branche'].value_counts())

Descriptive statistics for 'bges' variable in df_merged_companies for each 'period':

                                       count        mean          std  min  \
period    is_owner_change_2009_2017
2006-2008 False                      10070.0  565.341509  6762.179886  0.0
          True                        3091.0  400.584924  2984.847318  0.0
2009-2011 False                      11002.0  365.781767  4253.253211  0.0
          True                        3561.0  327.510320  2680.147591  0.0
2012-2014 False                      10862.0  355.155515  3642.430445  0.0
          True                        3528.0  370.261905  3390.697372  0.0
2015-2017 False                       9856.0  332.034801  5233.476128  0.0
          True                        3140.0  293.459554  2393.858813  0.0
2018-2020 False                      10810.0  373.750046  5053.695677  0.0
          True                        3191.0  329.894390  2544.538187  0.0
NA        False                       3299.0  346.868142  3708.292708  0.0
          True                         944.0  321.174788  1948.768329  0.0

                                       25%   50%    75%       max
period    is_owner_change_2009_2017
2006-2008 False                      12.00  35.0  127.0  282758.0
          True                       16.00  49.0  150.0   67916.0
2009-2011 False                      10.00  25.0  100.0  274530.0
          True                       14.00  39.0  115.0   65000.0
2012-2014 False                      10.00  25.0   95.0  166363.0
          True                       15.00  42.0  125.0  112305.0
2015-2017 False                       9.00  24.0   91.0  412619.0
          True                       14.00  40.5  125.0   75000.0
2018-2020 False                      10.00  26.0  100.0  407485.0
          True                       16.00  46.0  137.0   77015.0
NA        False                      10.00  25.0   98.0  157000.0
          True                       15.75  52.0  150.0   51200.0

Same statistics but in aggregate:

,count,mean,std,min,25%,50%,75%,max
is_owner_change_2009_2017,,,,,,,,
False,55899.0,394.141401,4996.037624,0.0,10.0,27.0,101.0,412619.0
True,17455.0,343.059367,2790.345708,0.0,15.0,43.0,130.0,112305.0

Descriptive statistics for 'bges' variable in df_merged_owners for each 'period':

                                       count          mean           std  min  \
period    is_ownerid_change_2009_2017
2006-2008 False                        886.0  15504.653499  65458.646477  0.0
          True                          31.0  12208.032258  23276.061648  0.0
2009-2011 False                        859.0  10848.043364  46357.670690  2.0
          True                         112.0   4886.642857  16740.098537  0.0
2012-2014 False                        768.0  13218.803385  42088.848526  0.0
          True                         185.0   4311.702703  17449.572195  3.0
2015-2017 False                        601.0  11729.469218  37587.080834  0.0
          True                         225.0   2464.560000  11865.758321  3.0
2018-2020 False                        714.0   7647.166667  35728.981558  2.0
          True                         233.0   2304.515021   8696.946108  2.0
NA        False                        237.0   9618.594937  31586.940831  1.0
          True                          80.0   6351.412500  25180.443125  3.0

                                         25%    50%       75%       max
period    is_ownerid_change_2009_2017
2006-2008 False                         76.0  488.5   1550.00  511292.0
          True                         364.5  632.0  14250.50   95247.0
2009-2011 False                         63.5  352.0   2587.00  413000.0
          True                          30.5  191.0    709.75  111141.0
2012-2014 False                         57.0  271.0   1803.75  472321.0
          True                          37.0  116.0    630.00  116071.0
2015-2017 False                         45.0  200.0   1160.00  513338.0
          True                          21.0   83.0    440.00  112435.0
2018-2020 False                         44.0  200.0   1053.75  379000.0
          True                          27.0   83.0    347.00   63751.0
NA        False                         48.0  222.0   2290.00  157000.0
          True                          34.0  135.0   2003.25  157000.0

Same statistics but in aggregate:

,count,mean,std,min,25%,50%,75%,max
is_ownerid_change_2009_2017,,,,,,,,
False,4065.0,11807.313223,47100.793891,0.0,53.0,289.0,1713.0,513338.0
True,866.0,3837.192841,15446.166098,0.0,30.0,100.0,609.5,157000.0

Descriptive statistics for 'branche' variable in df_merged_companies for each 'period':

                                     count unique  \
period    is_owner_change_2009_2017
2006-2008 False                       9434     21
          True                        2954     21
2009-2011 False                      10819     21
          True                        3550     21
2012-2014 False                      10264     21
          True                        3388     21
2015-2017 False                       9363     21
          True                        3037     21
2018-2020 False                      10142     21
          True                        3048     21
NA        False                       3046     21
          True                         886     21

                                                              top  freq
period    is_owner_change_2009_2017
2006-2008 False                                    Transport/Post   855
          True                                   Elektroindustrie   254
2009-2011 False                                    Transport/Post   939
          True                                   Elektroindustrie   320
2012-2014 False                                    Transport/Post  1019
          True                                   Elektroindustrie   290
2015-2017 False                                    Transport/Post   934
          True                       Metallerzeugung/-bearbeitung   238
2018-2020 False                                    Transport/Post  1045
          True                       Metallerzeugung/-bearbeitung   245
NA        False                                    Transport/Post   310
          True                       Metallerzeugung/-bearbeitung    71

Descriptive statistics for 'branche' variable in df_merged_owners for each 'period':

period     branche
2006-2008  Energie/Bergbau/Mineralöl    632
           Transport/Post               583
           Finanzdienstleistungen       497
           Elektroindustrie             473
           Maschinenbau                 468
                                       ...
NA         Unternehmensdienste           65
           Fahrzeugbau                   55
           Holz/Papier                   51
           Textil/Bekleidung/Leder       44
           Glas/Keramik/Steinwaren       42
Name: count, Length: 126, dtype: int64

Copy the environmental innovation data from 2008, 2014, and 2020 to the previous two years

In [35]:
eco_innovations = ["oekpz1", "oekpz2", "oekpz3", "oekpz4", "oekpz5", "oekpz6", "oekpz7", "oekpz8", "oekpz9", "oekpz_avg", "oekpd1", "oekpd2", "oekpd3", "oekpd4", "oekpd_avg" , "emissions_CO2", "emissions_other" , "material_use", "recycling", "hazardous_material"]
for variable in eco_innovations:
    df_merged_companies[variable] = df_merged_companies.groupby(['companyid', 'period'])[variable].transform('max')
    df_merged_owners[variable] = df_merged_owners.groupby(['companyid', 'period'])[variable].transform('max')

In [36]:
pd.crosstab(df_merged_companies['jahr'], df_merged_companies['emissions_CO2'], margins=True)

emissions_CO2    0.0   1.0   2.0    All
jahr
2006.0          1075   208   271   1554
2007.0          1337   277   330   1944
2008.0          3131   652   844   4627
2012.0          1602   319   155   2076
2013.0          1540   302   177   2019
2014.0          3058   679   339   4076
2018.0          1340   444   171   1955
2019.0          1526   552   188   2266
2020.0          2593   988   350   3931
All            17202  4421  2825  24448

In [37]:
df_merged_companies.to_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_companies_final.csv")
df_merged_owners.to_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_owners_final.csv")