#MIP Analysis

This script analyses the data generated by the merger of the ownership data and the company panel information

In [18]:
import pandas as pd
import numpy as np

Load the datasets

In [19]:
df_merged_companies = pd.read_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_companies_reganalysis.csv")
df_merged_owners = pd.read_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_owners_reganalysis.csv")

C:\Users\lucas\AppData\Local\Temp\ipykernel_10664\1487236527.py:1: DtypeWarning: Columns (20,30,49,50,51,52,53,54,56,64,75,76,77,78,79,80,81,82,85,86,89,90,94,99,102,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,135,136,137,138,143,144,145,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,200,201,207,209,210,211,212,214,218,219,220,221,232,236,237,238,239,240,241,248,249,252,253,255,256,257,258,259,261,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292,293,294,295,296,297,298,299,300,301,302,303,304,305,306,307,308,309,311,313,315,317,319,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,364,365,366,367,368,369,370,371,372,373,374,375,387,401,405,409,410,411,412,413,414,428,430,436,439,440,441,442,443,444,445,446,447,448,449,450,451,465,468,470,473,475,478,480,483,485,488,490,493,495,498,500,501,502,503,504,505,506,507,508,509,510,511,512,513,514,515,516,517,518,519,520,521,541,542,543,550,551,552,554,555,556,557,558,559,560,561,563,566,567,568,569,570,571,572,573,574,575,576,577,578,579,580,581,582,583,584,585,586,587,588,589,590,591,592,593,594,596,599,606,609,613,614,615,618,621,622,623,625,626,627,628,629,630,638,639,640,645,646,647,648,649,650,652,657,658,659,660,662,663,664,665,666,667,668,669,670,671,672,673,674,675,676,677,678,679,680,681,682,683,684,685,686,687,688,689,690,691,692,693,694,695,696,697,698,699,700,701,702,703,704,705,706,707,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723,724,726,727,728,729,730,731,732,734,736,738,739,742,744,757,758,759,760,761,762,763,767,770,773,775,779,780,781,782,783,784,785,787,788,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,825,826,827,828,829,830,831,832,833,834,835,836,837,838,839,843,846,848,852,856,859,862,863,864,865,866,870,871,872,873,874,876,878,881,885,888,891,894,897,900,903,908,914,919,921,922,923,924,925,926,927,928,929,930,931,932,933,934,935,936,937,938,939,940,941,942,943,944,945,946,947,948,949,953,955,957,961,963,964,966,968,969,970,971,979,982,983,984,985,986,987,988,989,990,991,992,993,994,995,996,997,998,999,1000,1001,1002,1003,1004,1005,1006,1007,1008,1009,1010,1011,1012,1013,1014,1015,1016,1017,1018,1019,1030,1033,1035,1038,1039,1040,1041,1042,1043,1044,1045,1046,1047,1058,1059,1060,1061,1062,1063,1064,1065,1066,1067,1068,1069,1070,1071,1072,1073,1074,1094,1096,1098,1100,1102,1106,1107,1116,1117,1118,1119,1120,1121,1122,1123,1124,1125,1126,1127,1128,1129,1130,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1161,1163,1164,1165,1166,1172,1182,1184,1185,1186,1187,1188,1189,1190,1191,1192,1193,1194,1195,1196,1197,1198,1199,1200,1201,1202,1203,1204,1205,1206,1207,1208,1209,1210,1211,1213,1214,1215,1216,1217,1218,1219,1225,1227,1229,1231,1233,1247,1265,1285,1295,1301,1302,1303,1304,1305,1306,1307,1308,1309,1310,1311,1317,1319,1320,1322,1324,1326,1327,1329,1330,1331,1332,1333,1334,1335,1336,1337,1338,1339,1340,1341,1342,1343,1344,1345,1346,1347,1348,1349,1350,1351,1352,1353,1354,1355,1356,1357,1358,1359,1360,1361,1362,1363,1364,1365,1366,1367,1368,1369,1370,1371,1372,1373,1374,1375,1376,1377,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1396,1397,1398,1399,1400,1401,1402,1403,1404,1405,1406,1408,1409,1410,1411,1412,1413,1414,1415,1417,1421,1422,1423,1427,1428,1429,1430,1431,1432,1433,1434,1435,1436,1437,1438,1439,1440,1441,1442,1443,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1463,1464,1465,1466,1467,1468,1469,1470,1471,1472,1473,1475,1476,1477,1478,1479,1486,1488,1490,1492,1500,1502,1503,1504,1505,1506,1508,1513,1523,1534,1535,1536,1537,1538,1542,1545,1546,1548,1549,1552,1553,1555,1556,1557,1559,1560,1561,1562,1563,1564,1565,1566,1567,1568,1569,1570,1571,1572,1573,1574,1575,1576,1577,1578,1579,1583,1585,1587,1589,1591,1593,1599,1618,1619,1620,1621,1622,1623,1624,1625,1628,1629) have mixed types. Specify dtype option on import or set low_memory=False.
  df_merged_companies = pd.read_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_companies_reganalysis.csv")
C:\Users\lucas\AppData\Local\Temp\ipykernel_10664\1487236527.py:2: DtypeWarning: Columns (9,93,94,159,160,161,162,163,164,165,166,167,168,169,170,171,172,178,179,180,181,182,183,184,185,186,187,190,199,200,201,209,225,226,227,228,229,230,255,257,263,317,318,319,320,321,322,323,324,325,326,327,328,329,330,331,332,333,334,335,336,337,338,339,340,341,342,343,344,345,346,347,348,349,350,351,352,353,354,355,356,357,358,359,360,361,362,363,489,540,556,557,558,559,603,617,618,628,629,646,647,651,652,653,654,655,656,657,658,659,660,661,662,663,664,665,666,667,668,669,670,671,672,673,746,747,748,749,750,751,752,764,780,781,782,783,784,785,786,787,788,789,790,791,792,793,794,795,796,797,798,799,800,801,802,803,804,805,806,807,808,809,810,811,812,813,814,815,816,817,818,819,820,821,822,823,824,851,852,908,910,914,915,916,955,971,973,974,975,976,977,978,979,980,981,982,984,985,986,987,988,989,990,991,992,994,995,996,997,998,999,1000,1001,1002,1003,1005,1006,1007,1024,1027,1028,1029,1030,1031,1032,1033,1034,1035,1036,1048,1049,1050,1051,1052,1053,1054,1055,1056,1057,1058,1059,1060,1061,1062,1063,1091,1095,1096,1152,1154,1155,1161,1171,1173,1174,1175,1176,1177,1178,1179,1180,1181,1182,1183,1184,1185,1186,1188,1189,1190,1191,1192,1193,1194,1195,1203,1204,1205,1206,1207,1208,1214,1216,1218,1220,1222,1236,1254,1274,1284,1290,1291,1292,1293,1294,1295,1296,1297,1298,1299,1300,1306,1315,1318,1319,1321,1322,1324,1325,1327,1328,1330,1331,1333,1334,1336,1337,1338,1339,1340,1341,1343,1344,1345,1346,1347,1348,1349,1351,1352,1353,1354,1355,1356,1357,1358,1360,1361,1363,1364,1366,1367,1369,1370,1372,1373,1375,1376,1378,1379,1380,1381,1382,1383,1384,1385,1386,1387,1388,1389,1390,1391,1392,1393,1394,1395,1397,1398,1399,1400,1401,1402,1404,1411,1412,1427,1430,1431,1432,1436,1437,1438,1439,1440,1441,1442,1443,1444,1445,1446,1447,1448,1449,1450,1451,1452,1453,1454,1455,1456,1457,1458,1459,1460,1461,1462,1464,1465,1466,1467,1468,1481,1491,1492,1493,1494,1495,1497,1512,1523,1531,1534,1537,1541,1542,1550,1552,1580,1582,1622,1623,1624) have mixed types. Specify dtype option on import or set low_memory=False.
  df_merged_owners = pd.read_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_owners_reganalysis.csv")

In [20]:
df_merged_companies["period"] = np.where(df_merged_companies["jahr"] <= 2008, "2006-2008", np.where((df_merged_companies["jahr"] >= 2009) & (df_merged_companies["jahr"] <= 2011), "2009-2011", np.where((df_merged_companies["jahr"] >= 2012) & (df_merged_companies["jahr"] <= 2014), "2012-2014", np.where((df_merged_companies["jahr"] >= 2015) & (df_merged_companies["jahr"] <= 2017), "2015-2017", np.where((df_merged_companies["jahr"] >= 2018) & (df_merged_companies["jahr"] <= 2020), "2018-2020", "NA")))))
df_merged_owners["period"] = np.where(df_merged_owners["jahr"] <= 2008, "2006-2008", np.where((df_merged_owners["jahr"] >= 2009) & (df_merged_owners["jahr"] <= 2011), "2009-2011", np.where((df_merged_owners["jahr"] >= 2012) & (df_merged_owners["jahr"] <= 2014), "2012-2014", np.where((df_merged_owners["jahr"] >= 2015) & (df_merged_owners["jahr"] <= 2017), "2015-2017", np.where((df_merged_owners["jahr"] >= 2018) & (df_merged_owners["jahr"] <= 2020), "2018-2020", "NA")))))

In [21]:
print("Descriptive statistics for 'bges' variable in df_merged_companies for each 'period':")
display(df_merged_companies.groupby(['period', 'is_owner_change_2009_2017'])['bges'].describe())
print("Descriptive statistics for 'bges' variable in df_merged_owners for each 'period':")
display(df_merged_owners.groupby('period')['bges'].describe())
print("Descriptive statistics for 'emissions_CO2' variable in df_merged_companies for each 'period':")
display(df_merged_companies.groupby(['period', 'is_owner_change_2009_2017'])['emissions_CO2'].describe())
print("Descriptive statistics for 'emissions_CO2' variable in df_merged_owners for each 'period':")
display(df_merged_owners.groupby('period')['emissions_CO2'].describe())

Descriptive statistics for 'bges' variable in df_merged_companies for each 'period':

                                       count        mean          std  min  \
period    is_owner_change_2009_2017
2006-2008 False                      10070.0  565.341509  6762.179886  0.0
          True                        3091.0  400.584924  2984.847318  0.0
2009-2011 False                      11002.0  365.781767  4253.253211  0.0
          True                        3561.0  327.510320  2680.147591  0.0
2012-2014 False                      10862.0  355.155515  3642.430445  0.0
          True                        3528.0  370.261905  3390.697372  0.0
2015-2017 False                       9856.0  332.034801  5233.476128  0.0
          True                        3140.0  293.459554  2393.858813  0.0
2018-2020 False                      10810.0  373.750046  5053.695677  0.0
          True                        3191.0  329.894390  2544.538187  0.0
NA        False                       3299.0  346.868142  3708.292708  0.0
          True                         944.0  321.174788  1948.768329  0.0

                                       25%   50%    75%       max
period    is_owner_change_2009_2017
2006-2008 False                      12.00  35.0  127.0  282758.0
          True                       16.00  49.0  150.0   67916.0
2009-2011 False                      10.00  25.0  100.0  274530.0
          True                       14.00  39.0  115.0   65000.0
2012-2014 False                      10.00  25.0   95.0  166363.0
          True                       15.00  42.0  125.0  112305.0
2015-2017 False                       9.00  24.0   91.0  412619.0
          True                       14.00  40.5  125.0   75000.0
2018-2020 False                      10.00  26.0  100.0  407485.0
          True                       16.00  46.0  137.0   77015.0
NA        False                      10.00  25.0   98.0  157000.0
          True                       15.75  52.0  150.0   51200.0

Descriptive statistics for 'bges' variable in df_merged_owners for each 'period':

            count         mean           std  min   25%   50%    75%       max
period
2006-2008  7638.0  2392.629222  23304.839974  0.0  30.0  98.0  340.0  511292.0
2009-2011  7615.0  1746.892351  16454.237467  0.0  25.0  83.0  287.0  413000.0
2012-2014  7121.0  2048.495998  15435.491407  0.0  26.0  81.0  280.0  472321.0
2015-2017  6120.0  1753.503268  13195.231134  0.0  25.0  79.0  290.0  513338.0
2018-2020  6567.0  1394.264657  12661.683939  0.0  28.0  87.0  320.0  379000.0
NA         1973.0  1840.669539  12733.105699  0.0  28.0  90.0  349.0  157000.0

Descriptive statistics for 'emissions_CO2' variable in df_merged_companies for each 'period':

                                      count      mean       std  min  25%  \
period    is_owner_change_2009_2017
2006-2008 False                      3516.0  0.503697  0.784442  0.0  0.0
          True                       1111.0  0.512151  0.783608  0.0  0.0
2009-2011 False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN
2012-2014 False                      3088.0  0.328692  0.624875  0.0  0.0
          True                        986.0  0.346856  0.618969  0.0  0.0
2015-2017 False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN
2018-2020 False                      3011.0  0.407174  0.645661  0.0  0.0
          True                        920.0  0.502174  0.661383  0.0  0.0
NA        False                         0.0       NaN       NaN  NaN  NaN
          True                          0.0       NaN       NaN  NaN  NaN

                                     50%  75%  max
period    is_owner_change_2009_2017
2006-2008 False                      0.0  1.0  2.0
          True                       0.0  1.0  2.0
2009-2011 False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN
2012-2014 False                      0.0  0.0  2.0
          True                       0.0  1.0  2.0
2015-2017 False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN
2018-2020 False                      0.0  1.0  2.0
          True                       0.0  1.0  2.0
NA        False                      NaN  NaN  NaN
          True                       NaN  NaN  NaN

Descriptive statistics for 'emissions_CO2' variable in df_merged_owners for each 'period':

            count      mean       std  min  25%  50%  75%  max
period
2006-2008  2609.0  0.592181  0.819640  0.0  0.0  0.0  1.0  2.0
2009-2011     0.0       NaN       NaN  NaN  NaN  NaN  NaN  NaN
2012-2014  1960.0  0.442347  0.689558  0.0  0.0  0.0  1.0  2.0
2015-2017     0.0       NaN       NaN  NaN  NaN  NaN  NaN  NaN
2018-2020  1812.0  0.551876  0.698711  0.0  0.0  0.0  1.0  2.0
NA            0.0       NaN       NaN  NaN  NaN  NaN  NaN  NaN

Copy the environmental innovation data from 2008, 2014, and 2020 to the previous two years

In [22]:
eco_innovations = ["oekpz1", "oekpz2", "oekpz3", "oekpz4", "oekpz5", "oekpz6", "oekpz7", "oekpz8", "oekpz9", "oekpz_avg", "oekpd1", "oekpd2", "oekpd3", "oekpd4", "oekpd_avg" , "emissions_CO2", "emissions_other" , "material_use", "recycling", "hazardous_material"]
for variable in eco_innovations:
    df_merged_companies[variable] = df_merged_companies.groupby(['companyid', 'period'])[variable].transform('max')
    df_merged_owners[variable] = df_merged_owners.groupby(['companyid', 'period'])[variable].transform('max')

In [23]:
pd.crosstab(df_merged_companies['jahr'], df_merged_companies['emissions_CO2'], margins=True)

emissions_CO2    0.0   1.0   2.0    All
jahr
2006.0          1075   208   271   1554
2007.0          1337   277   330   1944
2008.0          3131   652   844   4627
2012.0          1602   319   155   2076
2013.0          1540   302   177   2019
2014.0          3058   679   339   4076
2018.0          1340   444   171   1955
2019.0          1526   552   188   2266
2020.0          2593   988   350   3931
All            17202  4421  2825  24448

In [24]:
df_merged_companies.to_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_companies_final.csv")
df_merged_owners.to_csv(r"C:\Users\lucas\OneDrive\BA\Data\outputs\merged_owners_final.csv")